* {
    margin: 0;
    padding: 0;
}
body {
    margin-top: 70px!important;
}
ul {
    list-style-type: none!important; 
}
ul.navbar-right {
    margin-right: 0; 
}

.navbar-default{
    background-color:#FFFFFF!important;
}

.navbar-brand{
    margin-right: 4em;
}

.navbar-nav {
    float: left;
    margin: 0;
}

.nav {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

nav .write-btn{
    float: right;
    width: 100px;
    height: 40px;
    line-height: 24px;
    margin: 8px 15px 0;
    border-radius: 20px;
    font-size: 15px;
    color: #fff;
    background-color: #ea6f5a;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

nav .write-btn {
    float: right;
    width: 100px;
    height: 40px;
    line-height: 24px;
    margin: 8px 15px 0;
    border-radius: 20px;
    font-size: 15px;
    color: #fff;
    background-color: #ea6f5a;
}

.footer {
    padding: 1.7rem 0;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

center {
    text-align: center!important;
}

.footer-more-list li {
    display: inline-block;
    font-size: 90%;
    padding: 0 1rem;
    list-style: none;
}

.footer-more-list li a {
    color: #969696;
}

#index-canvas{
    margin-top:50px;
    margin-bottom:80px;
}

* { margin: 0; padding: 0; }

html, body { height: 100%; width: 100%; }

canvas { display: block; }

a:hover{
    text-decoration : none;
}


