{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Shrimp_in_the_sea|注册{% endblock %}
{% block custom_css %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <script type="text/javascript" src="{% static 'js/login.js' %}"></script>
{% endblock %}


{% block headers %}
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'index' %}">Shrimp_in_the_sea</a>
            </div>
        </div>
    </nav>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="form row">
            <div class="form-horizontal col-md-offset-3" id="login_form">
                    <h3 class="form-title">注册</h3>
                    <div class="col-md-9">
                        <form action="/register/" method="post" autocomplete="off">
                            {% csrf_token %}
                            {% for field in register_form %}
                            <div class="form-group">
                                <i class="fa fa-user fa-lg"></i>
                                <h5 class="form-title" for="{{ field.id_for_label }}">{{ field.label }}</h5>
                                {{ field }}
                                {% if field.errors.as_text %}
                                <div class="alert alert-warning alert-dismissible" role="alert">
                                      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                      {{ field.errors.as_text }}
                                </div>
                                {% endif %}
                            </div>
                            {% endfor %}
                            {% if register_form.non_field_errors %}
                                <div class="alert alert-warning alert-dismissible" role="alert">
                                      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                      {{ register_form.non_field_errors }}
                                </div>
                            {% endif %}
                            <div class="form-group col-md-offset-9">
                                <button id="send_code"  class="btn btn-primary pull-left">发送验证码</button>
                                <button type="submit" class="btn btn-success pull-right" name="submit">注册</button>
                            </div>
                        </form>
                    </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block custom_js %}
    <script type="text/javascript">
        $("#send_code").click(function(){
            var email = $("#id_email").val();
            var emailReg = /^(\w-*\.*)+@(\w-?)+(\.\w{2,})+$/;
            if(email==""){
                alert("邮箱不能为空!");
                return false;
            }else if(!emailReg.test(email)){ //正则验证不通过，格式不对
                alert("邮箱格式不正确!");
                return false;
            }

            // 发送验证码
            $.ajax({
                url: "{% url 'send_verification_code' %}",
                type: "GET",
                data: {
                    'email': email,
                    'send_for': 'register_code'
                },
                cache: false,
                success: function(data){
                    if(data['status']=='ERROR'){
                        alert(data['status']);
                    }
                }
            });

            // 把按钮变灰
            $(this).addClass('disabled');
            $(this).attr('disabled', true);
            var time = 30;
            $(this).text(time + 's');
            var interval = setInterval(() => {
                if(time <= 0){
                    clearInterval(interval);
                    $(this).removeClass('disabled');
                    $(this).attr('disabled', false);
                    $(this).text('发送验证码');
                    return false;
                }

                time --;
                $(this).text(time + 's');
            }, 1000);
        });
    </script>
{% endblock %}


{% block footer %}
{% endblock %}